# Copy to .env before publishing to Cloudflare Pages.
#
# --- Cloudflare deploy token
CLOUDFLARE_DEPLOY_WORKERS_TOKEN=""
# --- Cloudflare account id (necessary for deploys to work)
CLOUDFLARE_ACCOUNT_ID=""
# --- Cloudflare zone id (necessary for cache purge)
CLOUDFLARE_ZONE_ID=""
# --- Cloudflare S3 (unused atm)
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_ACCESS_KEY=""
CLOUDFLARE_ENDPOINT=""
